.layout {
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  height: 100vh;
  overflow: hidden;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
  min-height: 0;
  overflow: auto;
}

.footer {
  grid-area: footer;
}
